{{template "base" .}}
 
{{define "title"}}Результаты поиска{{end}}
 
{{define "main"}}
    <h2>Результаты поиска</h2>
    {{if .Numbers}}    
     <table>
        <tr>
            <th>Имя</th>
            <th>Номер</th>
            <th>ID</th>
        </tr>        
        {{range .Numbers}}
        <tr>
            <td><a href='/number?id={{.ID}}'>{{.Name}}</a></td>
            <td>{{.Phone}}</td>
            <td>#{{.ID}}</td>            
        </tr>
        {{end}}
    </table> 
    {{else}}
        <p>Ничего не удалось найти!</p>
    {{end}}
{{end}}