{{template "base" .}}

{{define "title"}}Запись  #{{.Number.ID}}{{end}}

{{define "main"}}
    {{with .Number}}
    <div class='phonebook'>
        <div class='metadata'>
            <strong>{{.Name}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Phone}}</code></pre>
        <div class='metadata'>
            <time>Запись от: {{.Created}}</time>
        </div>
    </div>   
    <td><a href="/edit?id={{.ID}}">Редактировать</a></td>  
    <td><a href="/delete?id={{.ID}}">Удалить</a></td>    
    {{end}}
{{end}}